html {
	height: 100%;
}

* {
	margin: 0;
	padding: 0;
}

body#home {
	position: relative;
}

main {
	padding: 4rem 1rem;
	max-width: 48rem;
	margin: auto;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	flex-grow: 1;
}

footer {
	opacity: 0.5;
	padding: 0.5rem 1rem;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer a {
	text-decoration: none;
	color: black;
}

footer a:hover {
	text-decoration: underline;
}

.post {
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	border: solid 1px var(--border);
	padding: 0.5rem 1rem 1rem;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.post > .post-header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
	margin-top: 0.5rem;
}

.post > .post-header > img {
	border-radius: 2.5rem;
	width: 2.5rem;
}

.post > .post-header .date {
	flex-grow: 1;
	text-align: right;
}

.post > .content {
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
}

.post > .content > img {
	width: 100%;
	border-radius: 0.5rem;
}

.post > .content > p {
	text-align: start;
}

.post > .interactions {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post > .interactions > button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--border);
}

.post > .interactions *:hover {
	cursor: pointer;
}
