:root {
    --button-bg-color: rgba(216, 216, 216, 0.5);
    --hovered-button-bg-color: rgba(193, 231, 255, 0.5);
}

html,
body {
    height: 100%;

    margin: 0;
    padding: 0;
}

main {
    height: 100%;

    position: relative;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

main::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("./images/clouds-background.png");
    background-size: cover;
    background-position: center;

    filter: blur(5px); /* Adjust the blur effect */
    transform: scale(1.1);

    z-index: -1; /* Keep the background behind the main content */
}

header {
    z-index: 1;
}

#login-card {
    background-color: rgba(255, 255, 255, 0.69);

    border: solid 1px var(--border);
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.3), 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);

    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 450px), (max-height: 600px) {
    header {
        position: relative;
    }

    #login-card {
        width: 100%;
        height: 100%;

        border-radius: 0;
    }
}

#login-header {
    color: rgb(97, 97, 97);
    margin: 3rem;
    padding: 0;
}

#login-card-instructions {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5vh;
}

#login-card-instructions > p {
    margin: 0.5rem;
}

#create-account-button {
    text-decoration: none;
    color: black;
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    background-color: var(--button-bg-color);
    transition: background-color 0.2s ease;
}

#create-account-button:hover {
    background-color: var(--hovered-button-bg-color);
}

#login-form-box {
    /*
    border-radius: 1rem;
    border: solid 1px var(--border);
    */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

#login-form-box > form {
    display: flex;
    flex-direction: column;
}

.input-field-label {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
}

.input-field {
    align-self: center;

    height: 2rem;
    width: 15rem;
    padding: 0 1rem;

    border: solid 2px var(--border);
    border-radius: 1rem;

    outline: none;

    margin-bottom: 1rem;

    transition: border-color 0.2s ease;
}

.input-field:focus,
.input-field:hover {
    border-color: rgba(251, 198, 255, 0.69)
}

#submit-credentials-button {
    width: 5rem;
    height: 2rem;
    align-self: center;
    margin: 0.5vh;

    cursor: pointer;

    border-radius: 1rem;
    border: none;

    background-color: var(--button-bg-color);
    transition: background-color 0.2s ease;
}

#submit-credentials-button:hover {
    background-color: var(--hovered-button-bg-color);
}