/* Inter */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

header {
	background-color: grey;
	border-radius: 5px;
}

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.left-side-navigation-bar {
	align-self: flex-start;
}

.right-side-navigation-bar {
	align-self: flex-end;
}

#profile-picture {
	width: 5vw;
	height: auto;
	margin: 0.5vw;
}